*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: #FDE74C;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C1713;
}

#game{
    max-width: 1724px;
    width: 90%;
    max-height: 926px;
    height: 90%;
    background-color: #142620;
    border-radius: 34px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#divisor{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 945px;
    width:100%;
    animation: fadeTrans;
    animation-duration: 1s;
}

.game{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}

.points{
    border-radius: 34px;
    background-color: #0C1713;
    width: 118px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 43px;
    transition: all .35s;
}

.players {
    font-size: 43px;
    transition: all .35s;
}

#computer{
    width: 100%;
    animation: fadeTrans;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#human{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: fadeTrans;
    animation-duration: 1s;
}

.rockPaperScissors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin: 0px 20px;
}

#computerVar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#humanVar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.announcerState {
    font-size: 43px;
    color: #FDE74C;
    transition: all 2s cubic-bezier(.3, 1.12, 0, .99);
    animation: fadeTrans2;
    animation-duration: 1s;
}

.lines{
    border: 1px solid #FDE74C;
    margin: 0px 10px;
    transition: all 2s cubic-bezier(.3, 1.12, 0, .99);
    animation: fadeTrans2;
    animation-duration: 1s;
    flex: 1 1;
}

.resultComputerClass{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-color: #0C1713;
    transition: all .35s;
}

.announcerWin {
    color: #65B891;
    border-color: #65B891;
    animation: fadeTrans;
    animation-duration: 1s;
}

.announcerLose {
    color: #CC2936;
    border-color: #CC2936;
    animation: fadeTrans;
    animation-duration: 1s;
}

.announcerTie {
    color: #c4c4c4;
    border-color: #c4c4c4;
    animation: fadeTrans;
    animation-duration: 1s;
}

img{
    width: 80%;
}


.options{
    background-color: #0C1713;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    transition: 0.1s;
    padding: 0px;
    transition: all .35s;
    cursor:pointer;
    margin: 5px;
}

.rotate{
    transform: rotate(180deg);
    
}

.optionSelection {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    animation: fadeTrans3 forwards;
    animation-duration: 1.5s;
    
}

.optionSelectionComp{
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    animation: fadeTrans4 forwards;
    animation-duration: 1.5s;
}

.options:hover{
    transform: scale(1.2);
}



#rockPaperScissors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.deleteAnimation{
    transition:all 0.5s;
    opacity: 0;
    transform: scale(1.5);
    pointer-events: none;
    
}

@keyframes fadeTrans {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
   
    to {
        opacity: 1;
        transform: translateY(0px);
    }
   }

@keyframes fadeTrans2 {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeTrans3 {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(1.5);
    }
        
    to {
        opacity: 1;
        transform: translateY(0px) scale(1.5);
    }   
}

@keyframes fadeTrans4 {
        from {
            opacity: 0;
            transform: translateY(0px) scale(1.5) rotate(180deg);
        }
        
        to {
            opacity: 1;
            transform: translateY(-20px) scale(1.5) rotate(180deg);
        }
}

@media (max-width: 800px) {
    .points {
        border-radius: 18px;
        background-color: #0C1713;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }
    .players {
        font-size: 30px;
        margin: 0px 10px;
    }

    .announcerState {
        font-size: 35px;
    }
    .rockPaperScissors{
        justify-content: center;
    }

    .options {
        border-radius: 18px;
        width: 120px;
        height: 120px;
    }

    .resultComputerClass {
        font-size: 23px;
        width: 121px;
        height: 120px;
        border-radius: 18px;
    }

    .game{
        justify-content: space-evenly;
    }
}